body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1400px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: rgb(5, 51, 5);
  padding: 2vh 0;
  /* border-radius: 5px; */
}

.reverse-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: rgb(199, 183, 91);
  padding: 2vh 0;
  border-radius: 5px;
}

.navbar {
  width: 95%;
  max-width: 1400px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(199, 183, 91);
}

.reverse-navbar {
  width: 95%;
  max-width: 1400px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* color: rgb(199, 183, 91); */
  color: rgb(5, 51, 5);
}

.navbar > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

.reverse-navbar > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.logo {
  height: 100%;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1vw;
}

.nav-button {
  text-transform: uppercase;
  background-color: rgb(165, 146, 35);
  border: 1px solid rgb(165, 146, 35);
  color: white;
  padding: 1vh 1vw;
  font-size: 1.2rem;
  display: inline-block;
  transition: all .5s ease 0s;
  cursor: pointer;
}

.nav-button:hover {
  background-color: rgb(165, 146, 35);
  color: rgb(5, 51, 5);
  border: 1px solid white;
  border-radius: 5px;
  transition: all .5s ease 0s;
}

.reverse-button {
  text-transform: uppercase;
  background-color: rgb(5, 51, 5);
  border: 1px solid rgb(5, 51, 5);
  color: white;
  padding: 1vh 1vw;
  font-size: 1.2rem;
  display: inline-block;
  transition: all .5s ease 0s;
  cursor: pointer;
}

.reverse-button:hover {
  background-color: rgb(5, 51, 5);
  color: rgb(165, 146, 35);
  border: 1px solid white;
  border-radius: 5px;
  transition: all .5s ease 0s;
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-start; */
  width: 100%;
  height: 100%;
  padding: 2vh 0;
  border-radius: 5px;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 2vh 0;
  border-radius: 5px;
}

.home-carousel {
  width: 100%;
}

.home-carousel > picture > img {
  width: 48%;
  height: 500px;
  max-height: 650px;
  border-radius: 5px;
  object-fit: cover;
}

.home-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 500px;
  gap: 2vh;
  padding-bottom: 5vh;
}

.home-content-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 2vh;
  border-bottom: 1px solid rgb(5, 51, 5);
}

.home-content-container1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 2vh;
  border-bottom: 1px solid rgb(5, 51, 5);
  margin-bottom: 5vh;
}

.home-content-text {
  width: 60%;
  text-indent: 15px;
  white-space: initial;
  /* line-height: 2vh; */
  font-size: 1.5rem;
  background-color: rgb(5, 51, 5);
  color: rgb(199, 183, 91);
  padding: 1vh 1vw;
  border-radius: 5px;
}

.home-content-text2 {
  width: 60%;
  text-indent: 15px;
  white-space: initial;
  /* line-height: 2vh; */
  font-size: 1.5rem;
  color: rgb(5, 51, 5);
  background-color: rgb(199, 183, 91);
  padding: 1vh 1vw;
  border-radius: 5px;
}

h2 {
  padding: 0;
  margin: 0;
  margin-top: 2vh;
}

.home-card {
  align-self: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card > img {
  cursor: pointer;
  width: 100%;
  height: auto;
  max-height: 300px;
  max-width: 450px;
  border-radius: 5px;
  object-fit: cover;
}

.home-footer {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.right {
  align-self: flex-end;
  margin-right: 2vw;
}

.left {
  align-self: flex-start;
  margin-left: 2vw;
}

.link {
  text-decoration: underline;
  color: white;
}

.container {
  width: 80%;
  height: fit-content;
  margin: 0;
  padding: 0;
  padding-bottom: 8vh;
  /* background: #191b21; */
  /* overflow: hidden; */
  font-family: ui-monospace,
  monospace;
  font-size: 1.2rem;
  /* line-height: 21px; */
  --webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 2vh;
  margin-top: 2vh;
  white-space: initial;
}

.frame {
  position: relative;
  padding: 4px 0px 0px 0px;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  vertical-align: middle;
  color: #24292e;
  fill: #24292e;
  height: fit-content;
}

.title {
  vertical-align: middle;
}

.content {
  will-change: transform, opacity, height;
  margin-left: 6px;
  padding: 0px 0px 0px 14px;
  border-left: 1px dotted rgba(102, 99, 99, 0.4);
  /* overflow: hidden; */
  height: fit-content;
}

ul {
  margin-left: 25px;
}

.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2vh 0;
  border-radius: 5px;
  max-width: 1400px;
  
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: fit-content;
  padding: 2vh 0;
  border-radius: 5px;
  color: rgb(5, 51, 5);
  background-color: rgb(165, 146, 35);
  font-size: 1.5rem;
  padding: 2vh;
  gap: 2vh;
  margin-top: 2vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  gap: 2vh;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
  width: 80%;
  height: fit-content;
  padding: 2vh 0;
  border-radius: 5px;
  align-items: center;
}

input {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid rgb(5, 51, 5);
  padding: .5vh 1vw;
  text-align: center;
}

textarea {
  width: 100%;
  height: 20vh;
  border-radius: 5px;
  border: 1px solid rgb(5, 51, 5);
  padding: 1vh 1vw;
  resize: none;
}

select {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid rgb(5, 51, 5);
  padding: .5vh 1vw;
  background-color: white;
  text-align: center;
}

.error {
  color: rgb(177, 24, 24);
  font-size: 1rem;
  padding: 0;
  margin: 0;
  margin-top: .5vh;
  text-align: center;
}

.warning {
  color: rgb(177, 24, 24);
}

.upload-button {
  display: none;
}

.upload {
  width: fit-content;
  height: fit-content;
  padding: 1vh;
  border: 1px solid rgb(5, 51, 5);
  box-shadow: 0px 5px 5px gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px gray;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-upload > img {
  width: 80%;
  height: auto;
  max-height: 300px;
  max-width: 450px;
  border-radius: 5px;
}

.submit {
  text-transform: uppercase;
  color: rgb(165, 146, 35);
  background-color: rgb(5, 51, 5);
  border: 1px solid rgb(165, 146, 35);
  color: white;
  padding: 1vh 1vw;
  font-size: 1.5rem;
  display: inline-block;
  transition: all .5s ease 0s;
  cursor: pointer;
}

.submit:hover {
  color: rgb(165, 146, 35);
  background-color: rgb(5, 51, 5);
  border: 1px solid white;
  border-radius: 5px;
  transition: all .5s ease 0s;
}

.message-container {
  position: fixed;
  z-index: 1000;
  width: 0 auto;
  bottom: 30px;
  margin: 0 auto;
  left: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  align-items: flex-end;
}

.message {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 40ch;
}

.message-content {
  color: white;
  background: #445159;
  opacity: 0.9;
  padding: 12px 22px;
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  overflow: hidden;
  height: auto;
  border-radius: 3px;
  margin-top: 10px;
}

.message-button {
  cursor: pointer;
  pointer-events: all;
  outline: 0;
  border: none;
  background: transparent;
  display: flex;
  align-self: flex-end;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.message-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.message-life {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: auto;
  background-image: linear-gradient(130deg, #00b4e6, #00f0e0);
  height: 5px;
}

/* *** MEDIA *** */

@media screen and (max-width: 1100px) {

  .navbar {
    flex-direction: column;
  }

  .reverse-navbar {
    flex-direction: column-reverse;
    gap: 1vh;
  }

  .navbar>h1 {
    font-size: 1.3rem;
  }

  .reverse-navbar>h1 {
    font-size: 1.3rem;
  }

  .nav-button {
    font-size: 1rem;
  }

  .reverse-button {
    font-size: 1rem;
  }

  .home-carousel>picture>img {
    width: 48%;
    height: 300px;
    max-height: 650px;
    border-radius: 5px;
    object-fit: cover;
  }

  .home-content {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 300px;
    gap: 2vh;
    padding-bottom: 5vh;
  }

  .home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 2vh;
    border-bottom: 1px solid rgb(5, 51, 5);
    gap: 1vh;
  }

  .home-content-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2vh;
    border-bottom: 1px solid rgb(5, 51, 5);
    margin-bottom: 5vh;
    gap: 1vh;
  }

  .home-content-text {
    width: 90%;
    text-indent: 15px;
    white-space: initial;
    /* line-height: 2vh; */
    font-size: 1rem;
    background-color: rgb(5, 51, 5);
    color: rgb(199, 183, 91);
    padding: 1vh 4vw;
    border-radius: 5px;
    text-align: center;
  }

  .home-content-text2 {
    width: 90%;
    text-indent: 15px;
    white-space: initial;
    /* line-height: 2vh; */
    font-size: 1rem;
    color: rgb(5, 51, 5);
    background-color: rgb(199, 183, 91);
    padding: 1vh 4vw;
    border-radius: 5px;
    text-align: center;
  }

  .home-card {
    align-self: center;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    margin-left: 1vw;
  }

  .right {
    margin-right: 1vw;
  }

  .container {
    font-size: 1rem;
  }

  .container > h1 {
    font-size: 1rem;
  }

}